<div class="control-toolbar">
    <div class="toolbar-item toolbar-primary">
        <div data-control="toolbar">
            
            <a href="<?= Backend::url('qchsoft/hotelesextension/calendar/index', [$model->id]) ?>" class="btn btn-default oc-icon-calendar">Calendario</a>

        </div>
    </div>
</div>