.event-danger{
color: #e35d6a;
}

#calendar-container {
height: 800px;
}

.fc-header-toolbar {
/*
the calendar will be butting up against the edges,
but let's scoot in the header's buttons
*/
padding-top: 1em;
padding-left: 1em;
padding-right: 1em;

}

.fc-col-header-cell{
    background: #f0f4f8;
}