<div class="control-list">
    <table class="table data">
        <thead>
            <tr>
                <th><span>Precio</span></th>
                <th class=""><a href="/">Ocupación</a></th>
            </tr>
        </thead>
        <tbody>
            <?php if (!$prices) :?>
            <tbody>
                <tr class="no-data">
                    <td colspan="100" class="nolink">
                        <p class="no-data">
                            Sin precios para mostrar
                        </p>
                    </td>
                </tr>
            </tbody>
            <?php endif ?>
            
            <?php foreach ($prices as $key  => $item) :?>
            <tr>
                <td><?php echo($item["total"]);?>  <?php echo($item["acronimo"]);?> </td>
                <td>
                  
                      
                    
                    <?php echo($item["ocupacion_descripcion"]);?> ~ 
                    
                    <strong><?php echo($item["nombre_regimen"]);?></strong>                            
                  
                </td>
            </tr>
            <?php endforeach ?>

            
        </tbody>
    </table>
</div>