<?php
    $obHabitacion = $this->getHabitacion();
?>

<div class="control-toolbar">
    <div class="toolbar-item toolbar-primary">
        <div data-control="toolbar">
            <div class="btn-group">
                <a href="<?= Backend::url('qchsoft/hotelesextension/calendar/create', [$obHabitacion->id]) ?>" type="button" class="btn btn-default oc-icon-plus">Cargar tarifa</a>
                <button type="button" class="btn btn-default oc-icon-calendar-o">Modificar Disponibilidad</button>
            </div>
        </div>
    </div>
</div>