<?php

$obHabitacion = $this->getHabitacion();
?>

<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('qchsoft/hotelesextension/calendar/index/', [$obHabitacion->id]) ?>">Calendario</a></li>
        <li>Modificar Disponibilidad</li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout']) ?>

        <div class="layout-row">
            <?= $form->render() ?>
        </div>
        
        <div class="layout-row" id="datatable-container">
            
        </div>
        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    data-request="onSave"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
                    class="btn btn-primary">
                    Guardar
                </button>
                <span class="btn-text">
                    <?= e(trans('backend::lang.form.or')) ?> <a href="<?= Backend::url('qchsoft/hotelesextension/calendar/index/', [$obHabitacion->id]) ?>"><?= e(trans('backend::lang.form.cancel')) ?></a>
                </span>
            </div>
        </div>

    <?= Form::close() ?>

<?php else: ?>
    <p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
    <p><a href="<?= Backend::url('qchsoft/hotelesextension/calendar/index/', [$obHabitacion->id]) ?>" class="btn btn-default"><?= e(trans('backend::lang.form.return_to_list')) ?></a></p>
<?php endif ?>