<?php
    $obHabitacion = $this->getHabitacion();
?>  
<div class="container-fluid">
    <div class="control-breadcrumb">
        <ul>
            <li><a href="<?= Backend::url('hesperiaplugins/hoteles/habitaciones/update', [$obHabitacion->id]) ?>"><?= e($obHabitacion->nombre) ?></a></li>
            <li>Calendario</li>
        </ul>
    </div>
</div>
<div class="container-fluid">
  <?= $this->makePartial('toolbar') ?>
</div>
<div class="container-fluid">
    <div class="control-tabs primary-tabs" data-control="tab">
        <div class="container-fluid">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#primaryTabOne">Calendario</a>
                </li>
                <li>
                    <a href="#primaryTabTwo">Lista</a>
                </li>
            </ul>
        </div>
        
        <div class="tab-content">
            
            <div class="tab-pane active">
              <div class="container-fluid text-center">
                <div class="row">
                  <h3 id="month-label"></h3>
                <button id="prev" class="btn btn-primary  oc-icon-chevron-left"></button>
                <button id="next" class="btn btn-primary oc-icon-chevron-right"></button>
                </div>
                
              </div>
              <br>
                <div id='calendar-container'>
                    <div id='calendar'></div>
                  </div>
            </div>
            <div class="tab-pane ">
                <?= $this->listRender() ?>
            </div>
        </div>
    </div>
</div>

<div class="container">
  <div class="control-popup modal fade" id="contentBasic">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="container w-full">
                  <div class="p-t-md p-b-md" id="modalPricesBody">
                    
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>




